[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
arrow = "*"
click = "*"
jinja2 = "*"
sxtwl = "==1.1.0"
tzlocal = "*"

[requires]
python_version = "3.9"
